---
import { getImage } from "astro:assets";
import type { ImageMetadata } from "astro";
import BaseHead from "@/components/BaseHead.astro";
import Gallery from "@/components/Gallery.tsx";

const title = "Mage's Personal Gallery";
const description = "A curated collection of moments, landscapes, and digital art captured through my lens.";

const imageFiles = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*"
);
const imageData = await Promise.all(
  Object.keys(imageFiles).map(async (path) => {
    const imageModule = await imageFiles[path]();
    const image = imageModule.default;

    const optimizedFull = await getImage({
      src: image,
      width: 1200,
    });

    const optimizedThumb = await getImage({
      src: image,
      width: 750,
      format: "webp",
    });

    return {
      src: optimizedFull.src,
      thumbnail: optimizedThumb.src,
    };
  })
);
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    author={'AREA44'}
    og={'og-image.jpg'}
  />

  <body class="is-preload">
    <div id="wrapper">
      <Gallery images={imageData} client:load />
    </div>
  </body>
</html>
